{% extends "base.html" %}

{% block title %}Add Experience{% endblock %}
{% block content %}
  <h1>Add Experience</h1>

  <a href="{{ url_for('your_lists') }}">← Back to Your List</a>
  <hr>

  <form method="POST" enctype="multipart/form-data" class="form">
    <input type="hidden" name="next" value="{{ next }}">

    <label>Title:</label><br>
    <input name="title" required><br>

    <label>Picture:</label><br>
    <input type="file" name="picture" accept="image/*"><br>

    <label>Category:</label><br>
    <select name="category" required>
        <option value="" disabled selected>Select a category</option>
        <option value="City">City</option>
        <option value="Nature">Nature</option>
        <option value="Beach">Beach</option>
        <option value="Food">Food</option>
        <option value="Adventure">Adventure</option>
        <option value="Culture">Culture</option>
        <option value="Relaxation">Relaxation</option>
        <option value="Other">Other</option>
    </select><br>


    <label for="notes">Notes:</label><br>
    <textarea id="notes" name="notes" rows="4"></textarea><br>

    <label>Rating (0–10):</label><br>
    <input 
      type="number" 
      name="rating" 
      min="0" 
      max="10" 
      step="0.1" 
      required 
      oninput="validity.valid || (value='');"
    /><br><br>

    <div class="form-buttons">
      <button type="submit" class="save-btn">Save Experience</button>
      <a href="{{ url_for('your_lists') }}" class="cancel-btn">Cancel</a>
    </div>
  </form>
{% endblock %}
