{% extends "base.html" %}

{% block title %}Add to Bucketlist{% endblock %}
{% block content %}
  <h1>Add to Your Bucketlist</h1>

  <a href="{{ url_for('your_lists') }}">← Back to Your List</a>
  <hr>

  <form method="POST" enctype="multipart/form-data" class="form">
    <label for="title">Title:</label><br>
    <input id="title" name="title" required><br>

    <label for="picture">Picture:</label><br>
    <input id="picture" type="file" name="picture" accept="image/*"><br>

    <label for="category">Category:</label><br>
      <select name="category" required>
        <option value="" disabled {% if not exp.category %}selected{% endif %}>Select a category</option>
        <option value="City" {% if exp.category == "City" %}selected{% endif %}>City</option>
        <option value="Nature" {% if exp.category == "Nature" %}selected{% endif %}>Nature</option>
        <option value="Beach" {% if exp.category == "Beach" %}selected{% endif %}>Beach</option>
        <option value="Food" {% if exp.category == "Food" %}selected{% endif %}>Food</option>
        <option value="Adventure" {% if exp.category == "Adventure" %}selected{% endif %}>Adventure</option>
        <option value="Culture" {% if exp.category == "Culture" %}selected{% endif %}>Culture</option>
        <option value="Relaxation" {% if exp.category == "Relaxation" %}selected{% endif %}>Relaxation</option>
        <option value="Other" {% if exp.category == "Other" %}selected{% endif %}>Other</option>
      </select><br>


    <label for="notes">Notes:</label><br>
    <textarea id="notes" name="notes" rows="4"></textarea><br>

    <label>Rating (0–10):</label><br>
    <input 
      type="number" 
      name="rating" 
      min="0" 
      max="10" 
      step="0.1" 
      required 
      oninput="validity.valid || (value='');"
    /><br><br>

    <button type="submit">Save</button>
  </form>
{% endblock %}