<!DOCTYPE html>
<html>
<head>
  <title>Add Experience</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Add New Experience</h1>
  <form method="POST" enctype="multipart/form-data">
  <input type="hidden" name="next" value="{{ next }}">

  <label>Title:</label><br>
  <input name="title" required><br>

  <label>Picture:</label><br>
  <input type="file" name="picture" accept="image/*"><br>

  <label>Category:</label><br>
  <select name="category" required>
      <option value="" disabled selected>Select a category</option>
      <option value="City">City</option>
      <option value="Nature">Nature</option>
      <option value="Beach">Beach</option>
      <option value="Food">Food</option>
      <option value="Adventure">Adventure</option>
      <option value="Culture">Culture</option>
      <option value="Relaxation">Relaxation</option>
      <option value="Other">Other</option>
  </select><br>

  <label>Notes:</label><br>
  <textarea name="notes"></textarea><br>

  <label>Rating (0–10):</label><br>
    <input 
      type="number" 
      name="rating" 
      min="0" 
      max="10" 
      step="0.1" 
      required 
      oninput="validity.valid || (value='');"
    /><br><br>

  <div class="form-buttons">
  <button type="submit" class="save-btn">Save Experience</button>
  <button type="submit" name="cancel" formnovalidate class="cancel-btn">Cancel</button>
</div>
</form>
</body>
</html>
