<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Travel Rankings{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tiles.css') }}">
</head>
<body>
    <h1 class = "title">PLACEHOLDER NAME</h1>
    <nav class="navbar">
            <a href="{{ url_for('home') }}" class="nav-item">Home</a>
            <a href="{{ url_for('your_lists') }}" class="nav-item">Your Lists</a>
            <a href="{{ url_for('search') }}" class="nav-item">Search</a>
            <a href="{{ url_for('profile') }}" class="nav-item">Profile</a>
            <a href="{{ url_for('logout') }}" class="nav-item">Logout</a>
    </nav>

    <hr>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
