{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<section class="feed">
  <h2>Search</h2>

  <form method="POST" enctype="multipart/form-data"  class="filter-bar">
    <div style="display: flex; align-items: center; width: 80%">
      <input id="keyword" name="keyword" placeholder="Search experiences" style="width: 350%">
      <label for="title">Title</label>
      <input id="title" name="title" style="width: 200%"> 

      <label for="category">Category</label>
          <select id="category" name="category" style="width: 175%;">
            <option value="" disabled selected></option>
            <option value="City">City</option>
            <option value="Nature">Nature</option>
            <option value="Beach">Beach</option>
            <option value="Food">Food</option>
            <option value="Adventure">Adventure</option>
            <option value="Culture">Culture</option>
            <option value="Relaxation">Relaxation</option>
          </select> 


      <label for="rating">Rating</label>
      <select id="rating" name="rating" style="width: 175%;">
        <option value="" disabled selected></option>
        <option value="highLow">Highest to Lowest</option>
        <option value="lowHigh">Lowest to Highest</option>
      </select>
    </div>

    <div>
      <button type="submit">Search</button>
    </div>
  </form>
  
 <div class="feed-grid">
    {% for exp in experiences %}
      {% include 'components/feed_card.html' %}
    {% else %}
      <p class="no-posts">No experiences found. Try changing your search criteria.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/feed.js') }}"></script>
{% endblock %}